@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
    --primary: #0b2c46;
    --secondary: #001937;
    --functionBar: #002149;
    --primaryText: #a7c4ff;
    --accent: #df3b1afb;
    --copiedCard: #37aa1b;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary);
    color: var(--primaryText);
    font-family: "Sono", monospace;
    user-select: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 200px;
    background-color: var(--accent);
}

.title {
    background-color: var(--secondary);
    font-size: clamp(25px, 10vw, 35px);
    font-family: "Audiowide", serif;

}

.title2 {
    font-size: clamp(20px, 8vw, 30px);
    font-family: "Audiowide", serif;
}

.functionBar {
    background-color: var(--functionBar);
    box-shadow: 0px 4px 4px #001636;
}

.functionTab {
    font-size: clamp(10px, 3vw, 20px);
    cursor: pointer;
}

.functionTabSelected {
    border-bottom: 2px solid var(--primaryText);
}

.outputArea {
    color: #8fa7d9;
    background-color: var(--secondary);
    width: 100%;
    height: fit-content;
    min-height: 200px;
    user-select: auto;
    -webkit-user-select: auto;
}

#textInput {
    color: #8fa7d9;
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    border: none;
    aspect-ratio: 1/0.3;
    resize: none;
    font-size: 18px;
}

#textInput::placeholder {
    color: #505b71;

}

#textInput::-webkit-scrollbar {
    width: 4px;
}

#textInput::-webkit-scrollbar-thumb {
    border-radius: 200px;
    background-color: var(--accent);
}

#textInput:focus {
    outline: none !important;
}

.button {
    color: var(--secondary);
    background-color: var(--accent);
    font-family: "Audiowide", serif;
    font-size: clamp(15px, 3vw, 18px);
    cursor: pointer;
}

.buttonClick {
    animation: buttonClick 0.3s 0s forwards;
}

@keyframes buttonClick {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.8;
    }

    100% {
        scale: 1;
    }
}

.downloadConverstionKey {
    font-size: clamp(10px, 2vw, 16px);
}

.alertCardTextCopied {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--copiedCard);
    width: fit-content;
    color: var(--secondary);
    font-size: clamp(14px, 2vw, 14px);
    animation: fade-in-down 0.8s 0s forwards;

}

@keyframes fade-in-down {
    0% {
        transform: translateX(300px);
        opacity: 0.3;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;

    }
}

.exitAnimation {
    animation: exitAnimation 0.4s 0s forwards;
}

@keyframes exitAnimation {
    0% {
        transform: translateY(0px);
        opacity: 0.6;
    }

    100% {
        transform: translateY(50px);
        opacity: 0.3;

    }
}



/* sm */
@media only screen and (max-width:576px) {
    #textInput{
        min-height: 225px;
    }

    .functionTab {
        font-size: clamp(14px, 4vw, 22px);
        cursor: pointer;
    }

    .title {
        background-color: var(--secondary);
        font-size: clamp(20px, 8vw, 35px);
        font-family: "Audiowide", serif;
    
    }
}


/* md */
@media only screen and (max-width:768px) {
    .downloadConverstionKey {
        font-size: clamp(14px, 4vw, 17px);
    }
}

/* sm */
@media only screen and (min-width:768px) {
    .button {
        width: 100%;
        font-size: clamp(15px, 2vw, 18px);
    }
}