* {
    margin: 0;
    padding: 0;
}

.bgMain {
    background-color: #002f62;
}


.bgTextBox {
    border: none !important;
    background-color: #003873 !important;
    color: #006fe5 !important;
}

::placeholder {
    color: #2073cd !important;
}

.fontTitle {
    font-size: 5em;
}

.hover:hover {
    transition: 0.3s;
    transform: scale(1.04);
}

.submitBtn {
    background-color: #003e80;
    color: #74b7ff !important;
    border: none;
    transition: 0.2s;
}

.submitBtn:hover {
    scale: 1.1;
}

.submitBtnDis {
    background-color: #0e447d;
    color: #6195cd !important;
    border: none;
    transition: 0.2s;
}